// Mixins in here
.custom-btn(){
    background-color: #17A2B8;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 10px;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10%;
    padding-bottom: 20%
}